.progress-bar.animate {
	width: 100%;
}

.js-loading-bar {
	margin: 70px auto;
}

.input-group-sm {
	width: 300px;
}

#popup-info1, #popup-info2 {
	font-size: 0.8em;
}

.form-control {
	display: none;
}

.btn-info {
	margin: 2px;
	width: 45%;
}